.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
body{
    background-color: lightgray
}
.navbarlink:hover {
    background-color: red;
}

.navbarlink:active {
    background-color: pink;
}

.hh1{
    background-color: black;
}
.navbarlink {
    color: white;
    text-decoration: none;
}
.bb1{
    background-color: white;
    padding: 1%;
    align-items: center;
}

.dropdown-item {
    color: black;
    text-decoration: none;
}
.dropdown-menu {
    color: white;
    text-decoration: none;
}
.hlo {
    background-color: black;
}
div img {
    height: 20rem;
    width: 20rem;
}

.kk1{
    background-color: white;
    width: auto;
    height: auto;
}

.image1 {
    height: 40vh;
    width: 20vw;
    margin-bottom: 7%;
    margin-top: 3%;
}

.image2 {
    width: 50vw;
    height: 70vh;
    margin: auto;
    margin-top: 4vh;
}
.textHome1 {
    justify-items: self-start;
    color: black;
    margin-top: 2vh;
}

.textHome2 {
    justify-content: center;
    color: black;
}
.text-wrapper {
    flex: 0 0 50%;
    padding: 0 2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.text-wrapper h2 {
    margin-top: 0%;
}

.image-wrapper {
    flex: 0 0 50%;
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
}

.navbar li {
    display: inline-block;
    padding: 10px 5px;
}
.pagination {
    margin-left: 45%;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
    .image1 {
        height: 15rem;
        width: 15rem;
        margin-bottom: 7%;
        margin-top: 3%;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
